@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        @apply bg-white dark:bg-black dark:text-gray-200;
    }

    body {
        @apply font-sans mx-auto px-3;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply my-2
    }

    h1 {
        @apply text-3xl;
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-xl;
    }

    p {
        @apply my-2;
    }

    hr {
        @apply my-2;
        @apply border-t;
        @apply border-gray-200 dark:border-gray-800;
    }

    button, input[type="submit"] {
        @apply py-2 my-2;
        @apply px-4;
        @apply rounded;
    }

    button {
        @apply bg-gray-200 hover:bg-gray-400 dark:bg-gray-600 dark:hover:bg-gray-800;
    }

    input[type="submit"] {
        @apply bg-purple-600 hover:bg-purple-800;
        @apply text-white;
    }

    label {
        @apply mt-2;
    }

    textarea, input[type="text"], input[type="password"] {
        @apply box-content;
        @apply p-2 mb-2;
        @apply rounded;
        @apply bg-gray-200 dark:bg-gray-800;
    }

    input:invalid {
        @apply bg-red-100;
    }

    ul {
        @apply list-disc;
        @apply pl-4;
    }

    li {
        @apply pb-2;
    }

    a {
        @apply text-blue-500;
    }

    a:hover {
        @apply text-blue-800;
    }

    a:visited {
        @apply text-purple-500;
    }

    a:visited:hover {
        @apply text-purple-900;
    }

}

#publicKeyHelpBlock {
    display: none;
}
#public-key:invalid ~ #publicKeyHelpBlock {
    display: unset;
}

#secret-key {
    display: none;
}
#use-secret-key:checked ~ #secret-key {
    display: unset;
}
#use-secret-key:checked ~ #signature {
    display: none;
}

#pod-to-post-to {
    display: none;
}
#use-different-server:checked ~ #pod-to-post-to {
    display: unset;
}

#top-message {
    @apply my-2 px-4 rounded;
    @apply bg-gray-200 dark:bg-gray-800;
    @apply border-b-2;
    @apply border-gray-200 dark:border-gray-800;
}

#top-message h5.message-title {
    @apply bg-gray-200/90 dark:bg-gray-800/90 !important;
}

.message-additional-info, .signature {
    @apply text-gray-500 italic text-sm;
}

#title {
    @apply text-center text-black dark:text-gray-200;
}

h5.message-title > a {
    @apply text-black dark:text-gray-200;
}
