{{define "keys"}}
<div class="panel">
  <p>My keys</p>
  <ul>
    <li><a href="/keys">Verify a signature</a></li>
    <li><a href="/keys#danger-zone">Generate a key pair</a></li>
    <li><a href="/keys#danger-zone">Get the signature for a message </a></li>
  </ul>
  
  
  
  <h3>Post a message</h3>
  <form method="POST">
    <label>Public Key:</label><br />
    <input type="text" name="public-key" value="{{ .Pub }}" /><br />
    <label>Message:</label><br />
    <textarea name="message">{{ .Content }}</textarea><br />
    <label>Signature:</label><br />
    <input type="text" name="secret-key" placeholder="Insert the signature for this message" /><br />
    <small id="passwordHelpBlock" class="form-text text-muted">How do I get one ?</small>
    <br>
    <input type="submit" value="Send message" />
  </form>
</div>
{{end}}
