{{define "keys"}}
<div class="panel keys">
  {{ if .PageInfo.PostToMessageID }}
  <h3>Comment</h3>
  {{ else }}
  <h3>Post a message</h3>
  {{ end }}
  <form method="POST" action="/new">
      <label>Name</label>
      <input
        type="text"
        name="name"
        placeholder="Displayed name, can be anything"
      />
  
      <label>Message</label>
      <textarea
        id="message"
        rows="9"
        name="message"
        placeholder="Write anything without being censored!"
      >
{{ .Content }}</textarea
      >
      <p id="countChars"></p>
      <label>Public Key</label>
      <input
        type="text"
        name="public-key"
        value="{{ .Pub }}"
        placeholder="Your public key is unique and define your identity"
      />
      <label>Signature</label>
      <input
        type="text"
        name="signature"
        placeholder="The signature is different for every message"
      /><br />
      <small id="passwordHelpBlock" class="form-text text-muted">
        <a href="/faq">How do I get one ?</a>
      </small> <br>
      <label>Send to specific pod</label>
      <input
        type="text"
        name="pod-to-post-to"
        id="pod-to-post-to"
        placeholder="Leave empty to send to {{ .Server.IP }}"
      />

    <input
      type="text"
      name="answer-to"
      id="answer-to"
      value="{{ .PageInfo.PostToMessageID }}"
    />

    <input type="submit" value="Send message" />
  </form>

  <h3>My keys</h3>
  <ul>
    <li><a href="/keys">Verify a signature</a></li>
    <li><a href="/keys#danger-zone">Generate a key pair</a></li>
    <li><a href="/keys#danger-zone">Get the signature for a message </a></li>
  </ul>

  <h3>FAQ</h3>
  <ul>
    <li><a href="/faq">What is the goal of this website</a></li>
    <li><a href="/faq">How do I post a message?</a></li>
    <li><a href="/faq">What is a pod?</a></li>
    <li>
      <a href="/faq"
        >This site is absolutely not practical. Why did you make these
        choices?</a
      >
    </li>
    <li><a href="/faq">What does "wrong signature" means?</a></li>
    <li><a href="/faq">What can happen if someone hack the website?</a></li>
    <li><a href="/faq">I lost my secret key</a></li>
  </ul>

  <h3>Options</h3>
  <label for="signatures-switch" class="signatures-switch">
    Show/Hide signatures
  </label>
</div>
{{end}}
