{{define "content"}}
<div class="panel panel-main">
  {{range .Messages}}

    <h5>
      <svg width="1em" height="1em">
        <rect width="1em" height="1em" style="{{ .Color }}" />
      </svg>
      <strong>{{.Name}}</strong>
      <span class="pubKeys">
        {{ .AuthorRep }}
        {{ if not .SignedCorrect }}
        <span title="DO NOT TRUST THIS CONTENT! The message content could have been changed in the database by a pod admin or a hacker" style="color: red">wrong signature <span style="text-decoration: underline dotted;">(more)</span></span>
        {{ end }}
      </span>
    </h5>

    <p>{{.Content}}</p>
    
    <hr />

  {{end}}
  
</div>
{{end}}