{{define "pods"}}
<div class="panel pods">
  <h2>{{ .PageInfo.Title }}</h2>
  <p>{{ .PageInfo.SubTitle }}</p>
  <h3 class="pod-name">{{ .Server.Name }}</h3>
  <h4 class="pod-ip">on {{ .Server.IP }}</h4>
  <p>{{ .Server.Info }}</p>

  <h3>Select pods <a href="">refresh</a></h3>
  <div>
    <input type="checkbox" name="local" id="" onclick="return false;" checked />
    {{ .Server.IP }}
  </div>
  <div><input type="checkbox" name="" id="" /> public pods (list here)</div>
  <div>
    <input type="checkbox" name="" id="" /> private pods (enter adresses below)
    <textarea
      name=""
      id=""
      cols="15"
      rows="10"
      placeholder="secret-hk.example.com;
my-horkrux.example.com"
    ></textarea>
  </div>

  <p>Not available right now</p>
  <h3>Options</h3>
  <label for="signatures-switch" class="signatures-switch">
    Show/Hide signatures
  </label>
</div>
{{end}}
