{{define "pods"}}
<div class="panel pods">
  <h1 class="pod-name"><a href="/" id="title">{{ .Server.Name }}</a></h1>
  <p>{{ .Server.Info }}</p>

  <details>
    <summary>Sources</summary>
    <br />
    <div>
      <input
        type="checkbox"
        name="local-pod"
        id="local-pod"
        onclick="return false;"
        checked
      />
      {{ .Server.IP }}
    </div>
    <div>
      <input type="checkbox" name="private" id="private-pods" /> private pods
      (enter adresses below)
      <textarea
        name="private-pods-list"
        id="private-pods-list"
        cols="15"
        rows="10"
        placeholder="secret-hk.example.com;
my-horkrux.example.com"
      ></textarea>
    </div>
    <div>
      <input
        type="checkbox"
        name="public"
        id="public-pods"
        onclick="return false;"
        checked
      />
      friends of {{ .Server.IP }}
    </div>
    <ul>
      {{range $element := .Server.Friends}}
      <li>{{$element}}</li>
      {{end}}
    </ul>
  </details>

  <h3>{{ .PageInfo.Title }}</h3>
  <p>{{ .PageInfo.SubTitle }}</p>
</div>
{{end}}
