<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="An instance of the Horkruxes network. Here are Ed25519-signed messages available on this pod or on friends of this server." />
  <title>Horkruxes</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/tailwindstyles.css" />
  <script src="/scripts.js" async></script>
</head>

<body>
  {{template "page" . }}

  <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker
        .register("/sw.js", { scope: "/" })
        .then((reg) => {
          console.log("Service Worker Registered", reg);
        })
        .catch((err) => {
          console.error("Service Worker Registeration Error", err);
        });

      navigator.serviceWorker.ready
        .then((reg) => {
          console.log("Service Worker Ready", reg);
        })
        .catch((err) => console.error("Service Worker Not Ready: Error", err));
    }
  </script>
</body>

</html>
