{{define "keys-page"}}

<div id="keys-zone">
  <h2 id="safe-zone" class="safe">SAFE ZONE</h2>
  <p>
    Here you can <strong>verify a signature</strong>, based on the content, the
    signature and the public key
  </p>

  <hr />
  <h3>Verify a signature</h3>
  <form method="POST">
    <div class="form-item">
      <label>Public Key:</label><br />
      <input type="text" name="public-key" value="{{ .Pub }}" />
    </div>
    <div class="form-item">
      <label>Author Name:</label><br />
      <input type="text" name="displayed-name" value="{{ .DisplayedName }}" />
    </div>
    <div class="form-item">
      <label>Message:</label><br />
      <textarea rows="7" name="message">{{ .Content }}</textarea>
    </div>
    <div class="form-item">
      <label>Signature:</label><br />
      <input type="text" name="signature" value="{{ .Sig }}" />
    </div>
    <input type="submit" value="verify" />
  </form>
  {{ if .Verif }} {{ if .Valid }}
  <p>Valid ✅</p>
  {{ else }}
  <p>Wrong ❌</p>
  {{ end }} {{ end }}

  <hr />
  <hr />
  <h2 class="danger" id="danger-zone">DANGER ZONE</h2>
  <p>
    Here you can <strong>find a new key pair</strong>, generated randomly each
    time you visit this page
  </p>
  <p>
    You can also <strong>generate a signature</strong> from your key pair and a
    message
  </p>
  <h3>Why is it dangerous ?</h3>
  <p>
    This website is server-rendered. If the server is corrupted or HTTPS not set
    up, people may steal your secret key. Basically, you shouldn't use the
    generated keys below except if you run locally your own instance of the
    server.
  </p>
  <h3>How can I get a Key Pair outside of this website ?</h3>
  <p>
    Horkruxes uses the ed25519 algorithm in its base64 form, which is common and
    known for its robustess. You can find information on how to generate one
    online. As always, it's better to generate a key pair locally (meaning, on
    YOUR computer, without any network connection) and keep it local (you may
    use USB keys but for your own safety, do not put it online or on any "cloud
    service"). Please generate every signature locally (without using internet).
  </p>
  <ul>
    <li>Run this website yourself</li>
    <li>Use OpenSSL</li>
  </ul>

  <hr />
  <h3>Generated Key Pair</h3>
  <p>
    Once you've got a keypair, please stick to it so people can identify your
    messages. If you need a new identity, just take new keys.
  </p>
  <h4>Secret/Private key</h4>
  <p id="generatedPrivateKey">{{ .NewSec }}</p>
  <button onclick="copyToClipboard('generatedPrivateKey')">Copy to clipboard</button>
  <h4>Public key</h4>
  <p id="generatedPublicKey">{{ .NewPub }}</p>
  <button onclick="copyToClipboard('generatedPublicKey')">Copy to clipboard</button>


  <hr />
  <h3>Get a signature</h3>
  <form method="POST">
    <div class="form-item">
      <label>Secret Key:</label><br />
      <input type="text" name="secret-key" value="{{ .Sec }}" />
    </div>
    <div class="form-item">
      <label>Public Key:</label><br />
      <input type="text" name="public-key" value="{{ .Pub }}" />
    </div>
    <div class="form-item">
      <label>Author Name:</label><br />
      <input type="text" name="displayed-name" value="{{ .DisplayedName }}" />
    </div>
    <div class="form-item">
      <label>This message is an comment to:</label><br />
      <input type="text" name="answer-to"
        placeholder="Optional: leave empty for an original post / enter message UUID for a comment" />
    </div>
    <div class="form-item">
      <label>Message:</label><br />
      <textarea rows="7" name="message">{{ .Content }}</textarea>
    </div>
    <input type="submit" value="generate" />
  </form>
  <h4>Signature:</h4>
  <p id="signature-generated">{{ .Sig }}</p>
  <button onclick="copyToClipboard('signature-generated')">Copy to clipboard</button>

</div>
{{end}}