<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="An instance of the Horkruxes network. You can generate Ed25519 keys and signed messages."
    />
    <title>Horkruxes</title>
    <link href="/style.css" rel="stylesheet" />
    <script src="/scripts.js" defer></script>
    <link href="/tailwindstyles.css" rel="stylesheet" defer />
  </head>
  <body>
    <h1>
      <a href="/" id="title">Horkruxes - free & secure expression wall</a>
    </h1>

    {{template "keys-page" . }}
  </body>
</html>
