html,
body {
  overflow-wrap: break-word;
}

body {
  margin: 0 auto;
  /* line-height: 1.6; */
  color: #444;
  padding: 0 10px;
  font-family: "Arial";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-weight: normal; */
  color: black;
}

h1 {
  text-align: center;
}

hr {
  color: #eee;
  background-color: #eee;
  border-width: 0;
  height: 2px;
}

.message p,
ul,
label,
summary {
  margin-top: 0;
}
a#title {
  color: black;
  text-decoration: unset;
}

strong {
  color: black;
}

/* MAIN */
#triptych {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.panel {
  flex: 1;
  margin: 2em 1em;
  /* padding: 0 1em; */
  min-width: 20em;
}

.panel-main {
  flex: 2;
}
input,
label {
  margin: 1em 0;
  margin-top: 5px;
}

/* MESSAGES */
#messages-list {
  margin-top: 1em;
}

h5 {
  margin: 0.5em;
}

.message {
  padding: 4px;
}

.pubKeys,
.signature,
.message-additional-info {
  color: #757575;
  font-style: italic;
}
.signature {
  font-size: 0.83em;
}

input.signatures-switch {
  display: none;
}
input#signatures-switch:checked ~ #triptych .signature {
  display: none;
}
.message-title {
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.little-colored-box {
  width: 1em;
  min-width: 5px;
  height: 1em;
  margin-right: 0.5em;
  border-radius: 3px;
}
.form-item {
  margin: 0.5em 0;
}
.message h6 {
  margin: 0 0 0.5em 0;
  font-weight: normal;
}
.message a {
  text-decoration: dotted;
}
input#main-switch:checked ~ #triptych .message > .content {
  max-height: 6.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
input#comments-switch:checked ~ #triptych .message .message-context-link {
  display: none;
}
.message > .content h1,
.message > .content h2,
.message > .content h3,
.message > .content h4,
.message > .content h5,
.message > .content h6,
.message > .content strong {
  color: #444 !important;
}

#top-message {
  background-color: lightyellow;
  border-radius: 4px;
}

/* KEYS */
#keys-zone {
  max-width: 800px;
  margin: auto;
}
#keys-zone > h2.danger {
  color: red;
}
#keys-zone > h2.safe {
  color: green;
}
input[type="text"],
textarea {
  margin: auto;
  width: 95%;
}
#answer-to {
  display: none;
}

/* PODS */
.pods {
  overflow: hidden;
  overflow-wrap: break-word;
}
.pod-name {
  margin-bottom: 0;
}
.pod-ip {
  margin-top: 0;
}
.pods h3 > a {
  color: #444;
  font-size: 0.8em;
  font-style: italic;
}

textarea#pods {
  display: none;
}
input#private-pods:checked ~ textarea#pods {
  display: unset;
}

summary:hover {
  cursor: pointer;
}

details[open] > summary {
  color: black;
}

/* FAQ */
#faq-page {
  max-width: 800px;
  margin: auto;
}
