body {
  margin: 40px auto;
  /* line-height: 1.6; */
  color: #444;
  padding: 0 10px;
  font-family: "Arial";
}
/* h1,
h2,
h3 {
  line-height: 1.2;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: black;
}

h1 {
  margin: 40px;
  text-align: center;
}

hr {
  color: #eee;
  background-color: #eee;
  border-width: 0;
  height: 2px;
}

p,
ul,
label,
a {
  font-size: 0.8em;
  margin-top: 0;
}
a#title {
  font-size: 1em;
  color: black;
  text-decoration: unset;
}

strong {
  color: black;
}

h5 {
  margin: 0.5em;
}

.pubKeys {
  color: #888;
  font-style: italic;
}

#triptych {
  display: flex;
  flex-direction: row;
}

.panel {
  flex: 1;
  margin: 2em;
}

.panel-main {
  flex: 2;
}

#danger-zone {
  max-width: 600px;
  margin: auto;
}

#danger-zone > h2 {
  color: red;
}
